* {
  box-sizing: border-box;
}
/*credits to w3schools*/
select  {
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#add  {
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

div{
    margin: auto;
    text-align:center;
}

input {
    width:20%;
    margin: 10px;
    height: 30px;
}

h1 {
    text-align: center;
}

#data {
    max-width: 90%;
    margin: auto;
}

table {
    font-family: 'Libre Baskerville';
    width: 100%;
}

th {
    background-color: #8c8c8c;
    padding: 10px;
}

td {
    padding: 10px;
}

tr:hover {
    background-color: #f5f5f5;
}

.suggestion {
    background-color: #e5b63d;
}
.suggestion:hover {
    background-color: #f4bb27;
}

.noPaddingRow {
    border: thin solid black;
}

.noPaddingRow td {
    padding: 0;
    margin: 0;
}

form {
    margin: 0;
    padding: 0;
}

button {
    margin: 5px;
    padding: 5px;
    border: none;
    background-color:#C0C0C0;
}
button:hover {
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.24), 0 2px 5px 0 rgba(0,0,0,0.19);
}

.inputUP {
    width: 30%;
    padding: 12px 10px;
    margin: auto;
    height: 40px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: block;
}

.loginButton {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: auto;
    border: none;
    cursor: pointer;
    width: 30%;
    display: block;
}

.loginSignupForm {
    display: inline;
}

.container {
    padding: 16px;
}